<div local-class="customer-card">
  <img local-class="img-round" src={{customer.img}} alt="">
  <p>{{customer.name}},
    <span local-class="company-name">
      {{customer.company}}
    </span>
  </p>
  <p local-class="comment">{{customer.comment}}</p>
</div>