<div local-class="footer">
  <div>
    <h3>Company</h3>
    <ul>
      <li>About Us</li>
      <li>Blog</li>
      <li>Jobs</li>
      <li>Pricing</li>
      <li>Contact</li>
      <li>Prospect.io Foundation</li>
    </ul>
  </div>
  <div>
    <h3>Prospect</h3>
    <ul>
      <li>Outreach</li>
      <li>Sync</li>
      <li>Analyze</li>
    </ul>
  </div>
  <div>
    <h3>Resources</h3>
    <ul>
      <li>Product Changelog</li>
      <li>System Status</li>
      <li>Knowledge Base</li>
      <li>Cold Email Course</li>
    </ul>
  </div>
</div>