<div local-class="header">
  <nav local-class="header-links">
    <div local-class="header-left">
      {{#link-to "index" local-class="link"}} Prospect.io {{/link-to}}
    </div>
    <div local-class="header-right">
      {{#link-to "features" local-class="link"}} Features {{/link-to}}
      {{#link-to "pricing" local-class="link"}} Pricing {{/link-to}}
      {{#link-to "blog" local-class="link"}} Blog {{/link-to}}
    </div>
  </nav>
  <div local-class="header-description">
    <div local-class="header-description-txt">
      <p>Sales Automation Platform for <strong>modern sales teams</strong></p>
    </div>
    <div local-class="header-description-img">
      <img src="prospect-header-8bit.png" local-class="img-header" alt="" >
    </div>
  </div>
</div>

{{yield}}