.content {
  display: flex;
  flex-direction: column;
  font-family: 'SFPixelateRegular';
}

.about {
  margin-top: 35px;
  font-size: 22px;
  color: #56456C;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.txt-container {
display:flex;
flex-grow: 1;
flex-direction: column;
width: 50%;

  /* width: 35%;
  float: right; */
  /* max-width: 50%; */
  /* padding-right: 15%; */
}

.txt {
  padding-right: 25%;
}

.img-container {
  display: flex;
  flex-grow: 1;
  width: 50%;
  justify-content: center;
  align-items: center;
  /* width: 35%;
  padding-left: 15%;
  float: left; */
  /* margin-left: 15vw; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.img {
  max-height: 500px;
  max-width: 500px;
  /* height: 35vw;
  width: 35vw; */
  /* margin: 0 150px 0 0; */
}

.customers {
  background-color: #EDF2F9;
  display: flex;
  flex-direction: column;
  color: #56456C;
  /* justify-content: center; */
  align-items: center;
}