<div>
  <div>
    <p>Create a new blog post</p>
    <form action="" local-class="form-blog">
      <input type="text" placeholder="title">
      <input type="text" placeholder="body">
      <button></button>
    </form>
  </div>

  <div local-class="blog-list">
    {{#each this.model as |blog|}}
    <BlogCard @blog={{blog}} />
    {{/each}}
  </div>

</div>