<div local-class="content">
  <div local-class="about">
    <div local-class="img-container">
      <img src="email-prospect-8bit.png" local-class="img" alt="" >
    </div>
    <div local-class="txt-container">
      <h1>Find and Verify Email Addresses</h1>
      <p>We use some magic to automatically find and verify prospect's email, job title, location, etc.</p>
      <h2>Chrome Extension</h2>
      <p>Use our Google Chrome extension to find this information when browsing websites or the most famous business
        oriented social networks.
      </p>
      <h2>CSV Import</h2>
      <p>Use our CSV import to search or verify emails at scale!</p>
      <h2>REST API</h2>
      <p>Developers can use our API to search and verify emails.</p>
    </div>
  </div>
  <div local-class="txt-container customers">
    <h1>Happy customers</h1>
    <p>See what our customers say about us</p>
  </div>
</div>